

form {
    display: flex;
    flex-direction: column;
   /* justify-content: space-evenly;*/
    flex-grow: 1;
    padding-bottom: 1rem;
    width: inherit;
    max-height: fit-content;
}

p.note {
    width: 100%;
    text-align: center;
    font-weight: var(--font-weight-bold)
}

label {
    color: var(--color-text-alt);
    font-size: var(--font-size-large);
    margin-top: var(--spacing-md);
}

input[type="text"],
input[type="password"],
textarea {
  padding: var(--spacing-xx-sm);
  border-radius: var(--size-border-radius-medium);
}

p#pwdnote, p#uidnote, p#confirmnote  {
    margin: 0;
    padding: var(--spacing-xx-sm);
    border-radius: var(--size-border-radius-medium);
    width: inherit;
    height: fit-content
   
}

p#pwdnote svg, p#uidnote svg, p#confirmnote svg {
    margin-right: var(--spacing-xx-sm);
    font-size: var(--font-size-medium);
    
}


button {
  margin-top: var(--spacing-md);
}

button {
  padding: var(--spacing-x-sm);
}

.instructions {
    background: var(--color-alert);
    color: var(--color-text-inverse);
    padding: var(--spacing-xx-sm);
   /* position: relative;
    bottom: 0;
    */
}

.instructions > svg {
    margin-right: var(--spacing-xx-sm);
}

.offscreen {
   /* position: absolute;
    left: -9999px;*/
}


.hide {
    display: none;
}

.valid {
    color: green;
    margin-left: var(--spacing-xx-sm);
}

.invalid {
    color: var(--color-tertiary);
    margin-left: var(--spacing-xx-sm)
}

.errmsg {
    background-color: var(--color-alert);
    color: var(--color-text-inverse);
    font-weight: var(--font-weight-bold);
    padding: var(--spacing-x-sm);
    margin-bottom: var(--spacing-x-sm);
}

.line {
    display: inline-block;
}