#login {
    z-index: 100000000;
    max-width: 420px;
    min-width: 200px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-md);
    color: var(--color-text);
    border-radius: var(--size-border-radius-large);

}

#login p {
    width: inherit;
    text-align: center;
}


