
/* ******************************************************************* */
/* *********************** HERO ***************************** */
/* ******************************************************************* */

#hero_wrapper {
    z-index: 100000000;
    text-align: center;
    width: 100%;
    height: fit-content;
    max-width: 420px;
    min-width: 200px;
   overflow: hidden;
   color: var(--color-neutral);
   display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-xx-lg);
    flex-direction: column;
  }


.hero p {
    max-width: 45ch;
    color: var(--color-text);
    font-size: var(--font-size-h3);
    
}

.hero h2 {
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-bold);
        color: var(--color-neutral);
        margin-bottom: var(--spacing-xx-lg);
}

.hero h5 {
    color: var(--color-neutral);
}

.hero p {
  color: black;
  /*text-shadow: 0px 1px 0px #323232;*/
}


